::-webkit-scrollbar{
    display: none;}
*{margin: 0;
outline: none;}


/* HEADER AND ICONS*/
.hideBtn{
    background-color: #ffffff;
    color: #d80e0e;
    width: 1.5vw;
    height: 1.3vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1.5vw;
    font-size: .8vw;
    margin-top: 2vw;
    padding-top: .2vw;
    position: absolute;
    border: .5vw solid white;
    box-shadow: .5vw 0vw .5vw 0 rgba(0, 0, 0, 0.16);
}
#hideBtnSearch{
    position: absolute;
    top: 12.1vw;
    left: 81vw;
    z-index: 20;
    cursor: pointer;
    visibility: hidden;

}
#hideBtnHistory{
    position: absolute;
    top: 19vw;
    left: 69.5vw;
    z-index: 20;
    cursor: pointer;
    visibility: hidden;
}
#hideBtnAduser{
    position: absolute;
    top: 11vw;
    left: 40.5vw;
    z-index: 20;
    cursor: pointer;
    visibility: hidden;
}
#hideBtnWithdraw{
    position: absolute;
    top: 10.5vw;
    left: 85.5vw;
    z-index: 20;
    cursor: pointer;
    visibility: hidden;
}
.hideBtn:hover{
    background-color: #f81c1c;
    color: white ;
}

#header{
    background-color: #005EFF;
    height: 48.7vw;
    width: 8vw;
    border-radius: 0vw 3.5vw 3.5vw 0vw;}
#iconsOne{
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 14vw;
    left: 2vw;
    z-index: 10;
    cursor: pointer;
    visibility: visible;
}

#iconsTwo{
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 22vw;
    left: 2vw;
    z-index: 10;
    cursor: pointer;
}

#iconsThree{
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 30vw;
    left: 2vw;
    z-index: 10;
    cursor: pointer;
}
#iconsFour{
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 38vw;
    left: 2vw;
    z-index: 10;
    cursor: pointer;
}


/* BACKGROUND AND GREETING*/

#backgroundVector{
    height: 45vw;
    width: 70vw;
    margin-left: 14vw;
    margin-top: 1vw;
    z-index: -10;
    position: fixed;}
#day{
    position: absolute;
    color: #ffffff;
    width: 13.64vw;
    height: 3vw;
    text-align: center;
    border-radius: 0vw 0vw 2vw 2vw;
    top:5vw;
    left: 71.8vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    z-index: 20;
}
#timeForEmployee{
    position: absolute;
    padding: 1vw;
    color: #ffffff;
    top: 0vw;
    left: 75vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    z-index: 20;
    }
#dateForEmployee{
    position: absolute;
    color: #ffffff;
    width: 13.64vw;
    height: 3vw;
    text-align: center;
    border-radius: 0vw 0vw 2vw 2vw;
    top:5vw;
    left: 78.6vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2vw;
    z-index: 20;}
#containerBlue{
    background-color: #005EFF;
    position: absolute;
    color: #ffffff;
    width: 16vw;
    height: 14vw;
    border-radius: 0vw 0vw 2vw 2vw;
    top:-5vw;
    left: 74.6vw;
    z-index: 18;
}

#greeting{
     position: absolute;
     top: 2vw;
     left: 15vw;
     font-size: 3vw;
     color: #005EFF;
     font-family: 'Montserrat', sans-serif;}
#introName{
    position: absolute;
    top: 2vw;
    left: 31vw;
    font-size: 3vw;
    color: #005EFF;
    font-family: 'Montserrat', sans-serif;
}
#quotes{
    position: absolute;
    top: 6vw;
    left: 15vw;
    font-size: 1.5vw;
    color: rgb(116, 116, 116);
    font-family: 'Montserrat', sans-serif;
    z-index: 18;}
#toLoad{
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 4vw;
    left: 1.5vw;
    text-align: center;
    cursor: pointer;
    color: rgb(255, 255, 255);

}
/*MODAL*/
#modal{
position: absolute;
background-color: rgb(1, 10, 51);
opacity: 60%;
background-size: cover;
height: 110%;
width: 100%;
z-index: 25;
visibility: hidden;
}
#modalBox{
z-index: 26;
position: absolute;
background-color: white;
height: 11vw;
width: 25vw;
border-radius: 2vw;
top: 15vw;
left: 37vw;
font-family: 'Montserrat', sans-serif;
color: #005EFF;
font-size: 1.7vw;
text-align: center;
padding-top: 4vw;
padding-left: 1.5vw;
padding-right: 1.5vw;
padding-top: 1vw;
visibility: hidden;

}
#closeModal{
text-align: center;
z-index: 26;
position: absolute;
background-color: #005EFF;
width: 5vw;
height: 1.5vw;
top: 23.5vw;
left: 48.6vw;
border-radius: 2vw;
color: white;
font-family: 'Montserrat', sans-serif;
padding-top: .5vw;
visibility: hidden;
}
#titleSearch{
    display: none;
}
#searchFormContainer{
    background-color: #ffffff;
    width: 80vw;
    height: 1.8vw;
    top: 13.5vw;
    font-size: 1vw;                     /********need to hidden********/
    padding:1vw;
    border-radius: 2vw;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    position: absolute;
    left: .5vw;
    top: 13.5vw;
    z-index: 1;
    visibility: hidden;}
#searchbutton{
    color: #ffffff;
    background-color: #005EFF;
    box-shadow: .3vw .3vw .3vw 0 rgba(0, 0, 0, .20);
    width: 7vw;
    height:1.8vw ;
    left: 39vw;
    top: 13.5vw;
    font-size: 1vw;                     /********need to hidden********/
    border-radius: 2vw;
    font-family: 'Montserrat', sans-serif;
    margin-left: 33vw;
    position: absolute;
    border: none;
    top: 1vw;
    z-index: 1;
}
#searchFirstName{
    height:1.5vw ;
    width: 20vw;
    color: rgb(116, 116, 116);
    font-family: 'Montserrat', sans-serif;
    border-radius: 2vw;
    padding-left: 1vw;
    margin-left: 7vw;
    border: .15vw solid rgb(177, 177, 177);
    z-index: 1;
    position: absolute;}
#searchLastName{
    height:1.5vw ;
    width: 20vw;
    color: rgb(116, 116, 116);
    font-family: 'Montserrat', sans-serif;
    border-radius: 2vw;
    padding-left: 1vw;
    margin-left: 30vw;
    border: .15vw solid rgb(177, 177, 177);
    z-index: 1;
    position: absolute;
}
#searchAccount{
    height:1.5vw ;
    width: 15vw;
    margin-left: 53.1vw;
    color: rgb(116, 116, 116);
    font-family: 'Montserrat', sans-serif;
    border-radius: 2vw;
    padding-left: 1vw;
    border: .15vw solid rgb(177, 177, 177);
    z-index: 1;
    position: absolute;}
#searchResult{
    border-radius: 2vw 2vw 2vw 2vw;
    background-color: #ffffff;
    width: 60.15vw;
    box-shadow: .3vw .3vw .3vw 0 rgba(0, 0, 0, .20);
    font-family: 'Montserrat', sans-serif;
    border: .3vw solid #005EFF ;
    position: absolute;
    font-size: 1vw;
    top: 19vw;
    padding: 1vw 1vw 1vw 1vw;
    text-align: center;
    left: 20vw;
    visibility: hidden;
}
#getBalance{
    border-radius: 2vw 2vw 2vw 2vw;
    padding-top: 1vw;
    background-color: #ffffff;
    width: 59.5vw;
    height: 2.5vw;
    box-shadow: .3vw .3vw .3vw 0 rgba(0, 0, 0, .20);
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    position: absolute;
    top: 15vw;
    border: .3vw solid #005EFF  ;
    margin-top: -.2vw;
    text-align: center;
    left: 20vw;
    visibility: hidden;


}

/*** HISTORY FORM ***/

/**** HISTORY BOXES AND LABEL****/

#historyContainer{
    background-color: #ffffff;
    width: 68.5vw;
    height: 2vw;
    font-size: 1vw;
    padding:1vw;
    border-radius: 2vw 2vw 0vw 2vw;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    display: flex;
    flex-direction: row;
    z-index: 2;                         /********need to hidden********/
    position: absolute;
    margin-left: .5vw;
    top: 21.2vw;
    visibility: hidden;}
#historyLabel{
    background-color: #005EFF;
    border-radius: 2vw;
    height: 1.8vw;
    width: 60vw;
    padding-left: 1vw;
    padding-top: .5vw;
    font-size: .9vw;
    display: flex;
    flex-direction: row;
    margin-left: 7vw;
    z-index: 4;
    position: absolute;
    word-spacing: -2vw;
} 
.span{
    display: flex;
    margin-left: .8vw;  
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}
.span1{
    display: flex;
    padding-left: 7vw;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;

}
.span2{
    display: flex;
    
    padding-left: 7.5vw;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}
.span4{
    display: flex;
    
    padding-left: 8vw; 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}
.span5{
    display: flex;
    
    padding-left: 8vw; 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}
.span6{
    display: flex;
    
    padding-left: 7.2vw; 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    z-index: 2;
}

/**** HISTORY INPUTS GOES HERE ****/
#historyInput{
    background-color: #ffffff;
    width: 63vw;
    height: 21vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    border-radius: 0vw 0vw 2vw 2vw;
    font-size: .8vw;
    display: flex;
    flex-direction:column;
    margin-top: 3vw;
    margin-left: 6.5vw;
    z-index: 3;
    position: absolute;
}
#historyInput tr{
    width: 62vw;
    display: flex;
    margin-left: -1vw;
    justify-content: space-evenly; 
    align-content: center;
    justify-self: center;
}
tr td{
    width: 18vw;
    text-align: center;

}

.divDetails{
    width: 6vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    text-align: left;
    padding-left: 1.7vw;
    display: flex;
    z-index: 3;
    }
.divDetails1{
    width: 11vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    display:flex ;
    z-index: 3;
    margin-left: 6.5vw;

}
.divDetails2{
    width: 13vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    display:flex;
    z-index: 3;
    margin-left: .4vw;
    
}
.divDetails3{
    width: 7vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    display:flex;
    z-index: 3;
    padding-left: 2vw;

}
.divDetails4{
    width: 7vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    display:flex;
    z-index: 3;
    padding-left: 2.4vw;
}
.divDetails5{
    width: 7vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    display:flex;
    z-index: 3;
    padding-left: 2.2vw;
}
.divDetails6{
    width: 5vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    display:flex;
    z-index: 3;
    padding-left: 4vw;
}
.divDetails7{
    width: 7vw;
    height: 20vw;
    color: #6b6b6b;
    font-family: 'Montserrat', sans-serif;
    font-size: .75vw;
    display:flex;
    z-index: 3;
    padding-left: 4vw;
}

/***** ADD USER FORM *****/

#aduserIconContainer{
    background-color: white;
    width: 35vw;
    height: 2vw;
    font-size: 1vw;
    padding:1vw;
    border-radius: 2vw;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    z-index: 3;
    position: absolute;                     /********need to hidden********/
    top: 29.4vw;
    left: .5vw;
    visibility: hidden;}
#aduserInputContainer{
    width: 34vw;
    height: 33vw;
    background-color: rgb(255, 255, 255);
    border-radius: 2vw 2vw 2vw 2vw;
    margin-left: 8vw;
    margin-top: -35.7vw;
    display: flex;
    flex-direction: column;                 /********need to hidden********/
    align-items: center;
    z-index: 4;
    position: absolute;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    visibility: hidden;
}
#titleAduser{
    width:31.4vw;
    height: 2.7vw;
    background-color: #005EFF;
    border-radius: 1.5vw;
    margin-top: 1vw;
    text-align: center;
    padding-top: .8vw;
    font-size: 1.5vw;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2.5vw;
    z-index: 4;
}
.aduserInputs{
    width: 28vw;
    height: 1vw;
    border-radius: 1vw;
    margin-bottom: 1.5vw;
    z-index: 4;
    border: .15vw solid rgb(177, 177, 177);
    padding: .5vw 0vw .5vw 1vw;
    font-size: .8vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(49, 47, 47);
}
#dateofBirthAduser{
    width: 10vw;
    display: flex;
    align-self: flex-start;
    margin-left: 2.5vw;
    color: rgb(49, 47, 47);
}
#dateofBirth{
    width: 10vw;
    display: flex;
    align-self: flex-start;
    margin-left: 3vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: .5vw;
    color: rgb(49, 47, 47);

}
#initialDeposit{
    width: 10vw;
    display: flex;
    align-self: flex-start;
    margin-left: 3vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: .5vw;
    color: rgb(49, 47, 47);
}
#addButton{
    background-color: #005EFF;
    width: 6vw;
    height: 2.5vw;
    border-radius: 2vw;
    font-size: 1.3vw;
    margin-top: -1vw;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    border: none;
    
}

/******* TRANSACTION ******/

/********* DEPOSIT AND WITHDRAW ***********/
#transacIconContainer{
    background-color: #ffffff;
    width: 35vw;
    height: 2vw;
    font-size: 1vw;
    padding:1vw;
    border-radius: 2vw;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    z-index: 3;
    position: absolute;
    top: 37.4vw;
    left: .5vw; 
    visibility: hidden;                    /********need to hidden********/
}

#depoContainer{
    padding-top: 6vw;
    width: 79vw;
    height: 27vw;
    background-color: rgb(255, 255, 255);
    border-radius: 0vw 2vw 2vw 2vw;
    margin-left: 8vw;
    margin-top: -35.7vw;
    display: flex;
    flex-direction: column;             /********need to hidden********/
    align-items: center;
    z-index: 5;
    position: absolute;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    visibility: hidden;

}
#withdrawForm{
    padding-top: 6vw;
    width: 79vw;
    height: 27vw;
    background-color: rgb(255, 255, 255);
    border-radius: 0vw 2vw 2vw 2vw;
    margin-left: 8vw;
    margin-top: -35.7vw;
    display: flex;
    flex-direction: column;             /********need to hidden********/
    align-items: center;
    z-index: 5;
    position: absolute;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16);
    visibility: hidden;
}
#titleTransac{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:76vw;
    height: 2.7vw;
    background-color: #005EFF;
    border-radius: 1.5vw;
    margin-top: -35vw;                      /********need to hidden********/
    margin-left: 9.5vw;
    text-align: center;
    padding-top: .8vw;
    font-size: 1.5vw;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 8;
    visibility: hidden;
}
.transacInputs {
    width: 73vw;
    height: 1vw;
    border-radius: 1vw;
    z-index: 4;
    border: .15vw solid rgb(177, 177, 177);
    padding: .5vw 0vw .5vw 1vw;
    font-size: .8vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(49, 47, 47);
    margin-bottom: 1vw;
}
.numberLabel{
    width: 10vw;
    display: flex;
    align-self: flex-start;
    margin-left: 3vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: .5vw;
    color: rgb(49, 47, 47);
}
#depositBtn{
    width: 25.33vw;
    height: 2.4vw;
    border-radius: 1.5vw 0vw 0vw 1.5vw;
    color: rgb(255, 255, 255);
    padding-top: .7vw;
    margin-top: -.8vw;
    /*border: .2vw solid #005EFF;*/
    position: absolute;
    z-index: 8;
    left: 0vw;
    cursor: pointer;
}
#WithdrawBtn{
    width: 25.33vw;
    height: 2.4vw;
    color: rgb(255, 255, 255);
    padding-top: .7vw;
    margin-top: -.8vw;
    margin-left: .6vw;
    position: absolute;
    z-index: 8;
    left: 25vw;
    cursor: pointer;
}
#TransferBtn{
    width: 24vw;
    height: 2.3vw;
    border-radius: 0vw 1.5vw 1.5vw 0vw;
    color: rgb(255, 255, 255);
    padding-top: .8vw;
    margin-top: -.8vw;
    position: absolute;
    z-index: 8;
    left: 52vw;
    cursor: pointer;
}
.depoButton, .withdrawButton, .transferButton{
    background-color: #005EFF;
    width: 11vw;
    height: 2.5vw;
    border-radius: 2vw;
    font-size: 1.3vw;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.depoButton{
    position: absolute;
    top: 29vw;
    z-index: 8;
}
.withdrawButton{
    position: absolute;
    top: 29vw;
    z-index: 9;
}
.transferButton{
    position: absolute;
    top: 23vw;
    left: -7vw;
    z-index: 10;
}


/************ TRANSFER **************/

#transferContainer{
    background-color: #ffffff;
    padding-top: 5.5vw;
    width: 79vw;
    height: 28vw;
    border-radius: 0vw 2vw 2vw 2vw;
    margin-left: 8vw;
    margin-top: -35.7vw;
    display: flex;
    flex-direction: row;                 /********need to hidden********/
    align-items: center;
    z-index: 6;
    position: absolute;
    box-shadow: .5vw .5vw .5vw 0 rgba(0, 0, 0, .16); 
    visibility: hidden;}
#userTransferForm{
    width: 39.5vw;
    height: 33vw;
    border-radius: 0vw 2vw 2vw 0vw;
    margin-left: 1.8vw;
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    z-index: 7;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}
#receiverTransferForm{
    width: 39.5vw;
    height: 33vw;
    border-radius: 0vw 2vw 2vw 0vw;
    margin-left: 41vw;
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    z-index: 7;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
}
.transacInputs1, .transacInputs2{
    width: 34vw;
    height: 1vw;
    border-radius: 1vw;
    z-index: 7;
    border: .15vw solid rgb(177, 177, 177);
    padding: .5vw 0vw .5vw 1vw;
    font-size: .8vw;
    font-family: 'Montserrat', sans-serif;
    color: rgb(49, 47, 47);
    margin-bottom: 1vw;
    padding-right: 1vw;
}
.numberLabel2, .numberLabel1, .receiverDetails, .userDetails1, .userDetails{
    width: 10vw;
    display: flex;
    align-self: flex-start;
    margin-left: 1vw;
    font-size: 1vw;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: .5vw;
    color: rgb(49, 47, 47);
}
.receiverDetails, .userDetails1{
    width: 20vw;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;}
.userDetails{
    width: 20vw;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2.7vw;
}
#sampleBtn{
    width: 3vw;
    height: 3vw;
    background-color: black;
    display: block;
    position: absolute;
    z-index: 30;
}